$menu-bg:			#fafafa;
$menu-heading: 		#afdefa;
$menu-heading-bg: #41769a;
$menu-text:			#389298;
$menu-hover: 		#389298;

/* General styles for menus */
/* General styles for all menus */
.fa {
	margin-right: 20px;
}

a {
	text-decoration: none;
}
.menu {
	background: $menu-bg;
	position: fixed;
	box-shadow: inset 0 0 10px rgba(0,0,0,.3);
	height: 2em;
}

.menu h3 {
	color: $menu-heading;
	font-size: 1.3em;
	height: 70px;
	padding: 1em;
	margin: 0;
	font-weight: 300;
	background-image: -moz-linear-gradient(left, #007B9A 0%, #389298 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(left, #007B9A 0%, #389298 100%);  /* Opera */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #007B9A), color-stop(100, #389298));  /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(left, #007B9A 0%, #389298 100%);  /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to right, #007B9A 0%, #389298 100%);  /*  Markup */ 
	border-bottom: 0.5px solid $menu-bg;
}

.menu a {
	display: block;
	color: $menu-text;
	font-size: 1.1em;
	font-weight: 300;
}

.menu a:hover {
	background-image: -moz-linear-gradient(left, #007B9A 0%, #389298 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(left, #007B9A 0%, #389298 100%);  /* Opera */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #007B9A), color-stop(100, #389298));  /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(left, #007B9A 0%, #389298 100%);  /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to right, #007B9A 0%, #389298 100%);  /*  Markup */ 
	text-decoration: none;
	color: $menu-bg;
}

.menu a:active {
	background: $menu-heading;
	color: $menu-bg;
}

/* Orientation-dependent styles for the content of the menu */

.menu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.menu-vertical a {
	
	padding: 1em;
}



/* Vertical menu that slides from the left or right */


.menu-right {
	right: -240px;
}

.menu-right.menu-open {
	right: 0px;
}


/* Push classes applied to the body */

.menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-push-toleft {
	left: -240px;
}


/* Transitions */

.menu,
.menu-push, 
.dim {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.dim{
  	height:100%;
  	width:100%;
  	filter: alpha(opacity=50); /* internet explorer */
  	-khtml-opacity: 0.5;      /* khtml, old safari */
  	-moz-opacity: 0.5;       /* mozilla, netscape */
  	opacity: 0.5;           /* fx, safari, opera */
}
/* Example media queries */

@media screen and (max-width: 55.1875em){



}

@media screen and (max-height: 26.375em){


}


