a {
  text-decoration: none;
}

section.module h2 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  margin-top: 3em;
  font-weight: 300;
  letter-spacing: 0.2em;
}

section.module.bio p {
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}

.clearfix {
  font-size: 1em;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.clearfix.active {
  background: #fafafa;
  filter: alpha(opacity=50);
  /* internet explorer */
  -khtml-opacity: 0.5;
  /* khtml, old safari */
  -moz-opacity: 0.5;
  /* mozilla, netscape */
  opacity: 0.9;
  /* fx, safari, opera */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#menu-icon, #home {
  cursor: pointer;
  color: #fafafa;
}

#murchu {
  color: #007B9A;
  visibility: hidden;
  text-transform: uppercase;
  margin-top: 0px;
}

.flex-container {
  width: 100%;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  padding: 2.3em;
  background-color: #fafafa;
  opacity: 0.2;
}

ul.flex-container > li:nth-child(1) {
  text-align: left;
  width: 33%;
}

ul.flex-container > li:nth-child(2) {
  text-align: center;
  width: 33%;
}

ul.flex-container > li:nth-child(3) {
  text-align: right;
  width: 33%;
}

#wrapper > header > div > ul > li {
  width: 100%;
}

section.module.parallax h1 {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

section.module.parallax-1 {
  background-image: url("../img/inchy.png");
  background-size: 100%;
  padding: 10em 0;
  background-repeat: no-repeat;
}

section.module.parallax-2 {
  background-image: url("../img/dev.jpg");
  background-size: 100%;
  padding: 5em 0;
}

section.module.parallax-3 {
  background-image: url("../img/projects.jpeg");
  background-size: 100%;
  padding: 5em 0;
}

#keyb {
  width: 100%;
}

.myButton {
  background-color: #44c767;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 76px;
  text-decoration: none;
}

.myButton:hover {
  background-color: #5cbf2a;
  text-decoration: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.bio {
  width: 80%;
  margin: auto;
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.languagesFlex {
  width: 100%;
  height: 120px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: green;
  /* Mozilla Firefox */
  /* Opera */
  /* Webkit (Safari/Chrome 10) */
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #f1f1f1 0%, #fafafa 100%);
  /*  Markup */
}

.languages svg {
  height: 100px;
  padding: 2em;
}

.icon {
  fill: #999999;
  opacity: 0.5;
}

.tabs {
  width: 80%;
  margin: auto;
  margin-top: 5em;
}

.boxes {
  margin-bottom: 5em;
  margin-top: 2em;
}

, *:after, *:before {
  box-sizing: border-box;
}

.boxes img {
  width: 100em;
  background-color: #fafafa;
}

.boxes {
  margin: 0px auto;
}

a {
  text-decoration: none;
  outline: none;
}

a img {
  border: none;
}

.caption {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.caption img {
  max-width: 100%;
}

.caption::before,
.caption::after {
  font-size: 1.5em;
  opacity: 0;
  position: absolute;
  width: 100%;
  color: #fafafa;
  text-align: center;
  padding: 1em;
  transition: opacity 0.3s;
}

.caption::before {
  content: attr(data-title);
  bottom: 1%;
  /* Mozilla Firefox */
  /* Opera */
  /* Webkit (Safari/Chrome 10) */
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #007B9A 0%, #389298 100%);
  /*  Markup */
  font-weight: 300;
}

.caption:hover::before,
.caption:hover::after {
  opacity: 1;
}

.foot {
  /* Mozilla Firefox */
  /* Opera */
  /* Webkit (Safari/Chrome 10) */
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #007B9A 0%, #389298 100%);
  /*  Markup */
  margin-top: 5em;
}

.foot p {
  padding: 5em;
  color: #fafafa;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.foot a {
  text-decoration: none;
  color: #fafafa;
}

.foot a:hover {
  text-decoration: none;
  color: black;
}

.boxes p {
  margin-top: 3em;
}

.boxes p img {
  width: 8em;
}

.boxes {
  line-height: 2;
}

.portfolio .row {
  padding-bottom: 8em;
}

@media screen and (min-width: 48em) {
  section.module.parallax h1 {
    font-size: 3.5em;
  }
  section.module.parallax-1 {
    background-size: 100%;
    padding: 12em 0;
  }
  section.module h2 {
    font-size: 1.5em;
  }
  .upper {
    text-transform: lowercase;
  }
}

@media screen and (min-width: 58em) {
  section.module.parallax h1 {
    font-size: 5.5em;
  }
}

#wrapper > header > div > ul > li:nth-child(1) > a > svg {
  height: 40px;
  opacity: 1;
}
