          <section class="module parallax parallax-3">
            <h1>Projects</h1>
          </section>


          <section class="module content bio">
            <!-- <h2><span class="target">A Selection of </span>Concepts <strong>&amp;</strong> Ideas</h2> -->

          
          </section>

          <section class="module content"  >
                <div class="tabs portfolio">

				<div class="row">

					<div class="boxes col-sm-12 col-lg-6" > 
						<a class="caption" ><img src="img/keyb.png" id="keyb" alt="Illustration of Cafe R"/></a>
						</div>


						<div class="boxes col-sm-12 col-lg-6" > 
						<h2>Hello Keby</h2>
						An Arabic / Hebrew / English Keyboard for Android.
						<hr />
						<p><a href="apk/keyb1.0.apk" class="myButton">Download Keyb Version 1.0</a></a></p>

					</div>
				</div>

                </div>
          </section> <!-- module content -->




