      <nav class="menu menu-vertical menu-right" id="menu">
        <h3>I'm Social</h3>
        <a href="https://github.com/Murchu"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
        <a href="https://www.instagram.com/o_murchu/?hl=en"><i class="fa fa-behance-square" aria-hidden="true"></i>Behance</a>
        <a href="https://ie.linkedin.com/in/iamcolm"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkenIn</a>
        <a href="https://twitter.com/00MURCHU"><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a>
        <a href="https://www.facebook.com/oooooooooo000"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
        <a href="https://www.instagram.com/o_murchu/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
      </nav> <!-- nav -->